@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}


.container {
    width: 1200px;
    margin: auto;
}

.header {
    z-index: 2;
    position: absolute;
    padding: 20px 0;
    width: 100%;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.logo {
    width: 60px;
    height: 60px;
}
.header-nav {
    display: flex;
    gap: 20px;
}
.header-nav-item {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.main-front {
    position: relative;
    height: 900px;
    .container {
        display: flex;
        align-items: center;
        height: 100%;
    }

}
.main-l {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;

}
.main-heading {
    color: #ffffff;
    font-size: 64px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.05;
    font-weight: 800;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    width: 380px;
    margin-bottom: 20px;
}
.main-text {
    color: #ffffff;
    font-size: 32px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    font-weight: 700;
}
.main-promo {
    color: #ffffff;
    font-size: 32px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin-bottom: 20px;
    & span {
        color: rgb(255, 225, 0);
    }
}
.main-copy {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Arial', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-width: 3px;
    border-radius: 12px;
    background-position: center center;
    border-color: #51008f;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    background: none;
    width: 266px;
    height: 55px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-play {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Arial', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-width: 3px;
    border-radius: 12px;
    background-color: #51008f;
    background-position: center center;
    border-color: #51008f;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    width: 266px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main-svg {
    position: absolute;
    bottom: -1px;
    width: 100%;
    z-index: 3;
}
.main-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-dude {
    position: absolute;
    right: 350px;
    top: 260px;
    animation: dudeFly 5s ease infinite;
}

@keyframes dudeFly {
    0% {
        transform: translateX(0px) translateY(0px);
        animation-timing-function: linear;
    }
    50% {
        transform: translateX(272px) translateY(-176px);
        animation-timing-function: linear;
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}

.white-span {
    padding: 20px 0;
    .container {
        background-color: #f0f0f0;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        padding: 20px;

    }
}
.span-text {
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.img-block {
    margin-bottom: 30px;
    padding: 20px 0;
    .container {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
.img-block-text-block {

}
.img-block-text {
    flex-shrink: 0;
    color: #000000;
    font-size: 20px;
    font-family: 'TildaSans', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    span {
        color: #51008f;
        font-size: 24px;
        font-family: 'TildaSans', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
}
.img-block-heading {
    color: #51008f;
    font-size: 32px;
    font-family: 'TildaSans', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.img-block-img {
}
.img-block-img-img {
    border-radius: 20px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    width: 500px;
}

.text-block {
    margin-bottom: 30px;
}

.btn-block {
    .img-block-heading {
        margin-bottom: 20px;
    }
    .wrapper {
        display: flex;
        gap: 30px;
    }
    &.rev {
        .wrapper {
            flex-flow: row-reverse;
        }

    }
    .main-play {
        margin-top: 50px;
    }
    &.img-btn {
        .img-block-img {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.list {
    margin-top: 50px;
}
.list-item {
    margin-top: 30px;
    &:first-child {
        margin-top: 0;
    }
}
.list-item-heading {
    color: #51008f;
    font-size: 24px;
    font-family: 'TildaSans', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin-bottom: 10px;
}
.img-block-text {
}
.footer {
    margin-top: 50px;
    background-color: #51008f;
    padding: 20px 0;

}
.footer-text {
    color: #ffffff;
    font-size: 14px;
    font-family: 'TildaSans', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    text-align: center;
}

@media (max-width: 1200px) {

    body, html {
        max-width: 100vw;
        overflow-x: hidden;
    }
    .container {
        width: calc(100vw - 20px);
    }

    .header {
        padding: 10px 0;
        .container {
            flex-direction: column;
            gap: 10px;
        }
    }
    .logo {
        width: 40px;
        height: 40px;
    }
    .header-nav {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .header-nav-item {
        font-size: 14px;
    }

    .main-front {
        display: block;
        height: 900px;
    }
    .container {
    }
    .main-l {
    }
    .main-heading {
        font-size: 35px;
        width: 100%;
        text-align: center;
    }
    .main-text {
        text-align: center;
        font-size: 14px;
    }
    .main-promo {
        text-align: center;
        font-size: 14px;
    }
    .main-copy {
        width: 100%;
    }
    .main-play {
        width: 100%;
    }
    .main-svg {
    }
    .main-bg {
    }
    .main-dude {
        // display: none;
        right: 70px;
        top: auto;
        bottom: 30px;
    width: 220px;
    }

    @keyframes dudeFly {
        0% {
            transform: translateX(0px) translateY(0px);
            animation-timing-function: linear;
        }
        50% {
            transform: translateX(40px) translateY(-40px);
            animation-timing-function: linear;
        }
        100% {
            transform: translateX(0px) translateY(0px);
        }
    }
    .span-text {
        font-size: 15px;
        text-align: center;
    }
    .white-span .container {padding:10px ;}
    .img-block-heading {
        font-size: 20px;
    }
    .img-block-text span {
        font-size: 18px;
    }
    .img-block-text {
        font-size: 14px;
    }
    .img-block .container {
        flex-direction: column;
    }
    .img-block-img-img {
        width: 100%;
    }
    .btn-block.rev .wrapper {
        flex-direction: column;
    }
    .list-item-heading {
        font-size: 16px;
    }
    .btn-block .wrapper {
        flex-direction: column;
    }
    .footer-text {
        font-size: 12px;
    }
}